.navbar.navbar-default {
	background-color: #7A5230;
	border-radius: 0px;
	border-color: #7A5230 !important;
}
.navbar {
	min-height: 25px !important;
	height: 38px;
	margin-bottom: 10px !important;
}
.navbar.navbar-default a {
	float: right;
	background-color: white;
	border-radius: 50%;
}
.row.nl-header {
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-bottom: -5px;
}
.nl-header {
	border-bottom: 1px solid lightgray;
	border-left: 5px solid #27AE60;
}
.nl-header p {
	font-size: 1.3em;
	font-weight: 300;
	margin: 0 15px 10px;
}
.header-title {
	color: #FFF;
	font-size: 1.5em;
	margin-left: 20px;
	font-weight: 200;
	height: 45px;
}

[name = "daterange"] {
    font-size: 1.35em;
    text-align: center;
}
.col-md-5 h5 {
	font-weight: 200;
}

#dateheader h2 {
	font-weight: 300;
	font-size: 2.25em;
}




#timeseries_plot .c3-line-count2 {
	stroke-width: 2px;
}
.c3 text {
	/*font-size: 1.25em;*/
}
.c3-axis-x .tick {
	font-size: 1.15em;
}